# {{ ansible_managed }}
# Manual customization of this file is not recommended.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% if (inventory_hostname in groups['kube-master']) %}
-A INPUT -m state --state NEW -m tcp -p tcp --dport 6443 -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 2379:2380 -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 10250 -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 10251 -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 10252 -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 10255 -j ACCEPT
{% endif %}

{% if (inventory_hostname in groups['kube-slave']) %}
-A INPUT -m state --state NEW -m tcp -p tcp --dport 10255 -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 10251 -j ACCEPT
{% endif %}

-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
COMMIT
